.wallet-init {
    height: 75vh;
    overflow: auto;
    border: 0.05rem solid #D9D9D9;
    * {
        background-color: white;
    }
}
.wallet-title {
    margin-bottom: -.5rem;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 300%;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 58px);
}
.wallet-page {
margin-top: 3%;
}

.wallet-section {
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
padding: 2rem ;

& * {
    background: white;
    font-size: 1.5rem;
}



&__left, &__right {
    background-color: white;
    padding: 7rem;
    border-radius: 0.5rem;

    & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    }
    
    & ul li {
    list-style-type: none;
    
    
    }


    & h1 {
    border-bottom: 1px solid;
    background-color: inherit;
    font-size: 3rem;
    }

}


}