.error-section {
    height: 80vh;
    width: 110vh;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 25%;
    border: 0.1rem solid #D9D9D9;
}
.error-area {
    font-size: 200%;
    background-color: white;
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;
}
.error-details {
    text-align: center;
    margin-bottom: 10%;
    background-color: white;
}